@import "login";

.registration__system {
  .registration__system__login {
    .signsubtitle {
      color: rgb(142, 142, 142);
      font-size: 17px;
      font-weight: 600;
      line-height: 20px;
      margin: 0 40px 10px;
      text-align: center;
    }
    .registration__human {
      color: rgb(142, 142, 142);
      font-size: 12px;
      margin: 0 40px 10px;
    }
  }
}